body {
  margin: 0;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: bisque;
  padding: 2rem;
  position: fixed;
  z-index: 1000;
}

section {
  padding: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#navbar a {
  padding: 3rem;
}

#home {
  background-color: aqua;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#experiences {
  background-color: burlywood;
}

#education {
  background-color: aquamarine;
}

#projects {
  background-color: chartreuse;
}

#interests {
  background-color: gainsboro;
}

#contact {
  background-color: cadetblue;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  width: 250px;
  height: 320px;
  background: grey;
  display: inline-block;
}

.card:hover {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  color: black;
  text-align: center;
  border-radius: ;
}

.front {
  background-color: orange;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.back {
  background-color: yellow;
  overflow: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none;
  transform: rotateY(180deg);
  margin: auto;
}

.back::-webkit-scrollbar {
  width: 0.5em; 
}

.back::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.flip {
  transform: rotateY(180deg);
}

.home-card {
  position:relative;
  width: fit-content;
  height: fit-content;
  background: #522d5b;
  border-radius: 0 30px 30px;
  padding: 1rem;
  margin-top: 30rem;
}

.home-card:before {
  content: "";
  position:absolute;
  top:-40px;
  left:0;
  height:40px;
  width: 40px;
  border-bottom-left-radius: 50%;
  background: transparent;
}

.home-card:before {
  box-shadow: 0 20px 0 0 #522d5b;
}

.selfie-img {
  max-width: 30%;
  margin: 2rem;
  border-radius: 25px;
}